*{
    margin: 0%;
    padding: 0%;
    font-family: 'Exo 2', sans-serif;
    
}

root{
    --Font:'Exo 2', sans-serif;
}

body {
    background-color: rgba(166, 209, 238, 0.486);
}
.header_card>img {
    border-radius: .25rem;
    height: 7rem; 
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    object-position: center; 
} 

.header_card {
    border-radius: .5rem;
    /* background-image:url("../images/airplane.jpg"); */
    height: 7rem; 
    width: 100%;
    height: 9.2rem;
    background-color: rgb(44, 170, 219);
}

/* .header_card> */
button:hover{
    background-color:  rgb(103, 181, 212);
    
}

/* .header_text{
   
} */

.flight_info {
    border-bottom: 2px solid goldenrod;
    /* box-shadow: 5px 2px 5px 1px rgb(44, 170, 219); */
}

.navbar {
    border-bottom: 2px solid goldenrod;
    /* box-shadow: 0px 2px 5px 1px goldenrod; */
}

.card{

    box-shadow: 0px 2px 5px 1px goldenrod;
}

.weather{
    box-shadow: 0px 2px 5px 1px goldenrod;
    border-radius: .5rem;
}

#arrival-city-print>a {
    text-decoration: none;
    color: black;
}

#arrival-city-print>a:hover {
font-size: 1.4rem;

}

#departure-city-print>a {
    text-decoration: none;
    color: black;
}

#departure-city-print>a:hover {
font-size: 1.4rem;

}